.myaccount-page {
    display: grid;
    grid-template-columns: 321px 253px 79px auto;
    grid-template-rows: 110px 228px 400px auto;
    margin-bottom: 10vh;

    .myaccount-nav-title,
    .account-details-title {
        color: white;
        display: grid;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 40px;
    }

    .myaccount-nav-title {
        grid-column-start: 2;
        grid-row-start: 1;
        margin-left: -80px;
    }

    .myaccount-nav {
        grid-column-start: 2;
        grid-row-start: 2;
        display: grid;
        background-color: #d7b377;
    }

    .account-details {
        grid-column-start: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        padding: 0 30px;
        background-color: #94849b;
    }
}

.order-table {
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(215, 179, 119, 0.15);
}

.order-table-heading {
    border-bottom: 1px solid rgba(215, 179, 119, 0.9);
}
